/* COLORS */
/* #98C6D7 LIGHT BLUE */
/* #841C26 RED */
/* #1D3354 DARK BLUE */
/* #F0EDE5 CREAM */


html, body {
    background-color: #F0EDE5;
}

#logoImage {
    display: flex;
    justify-content: center;
    height: 10rem;
}

.navlinks{
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    list-style-type: none;
}













/* 
.menudiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */